.nav-container {
  height: 28vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.7),
    rgba(40, 180, 133, 0.95)
  ), url(../../img/code.jpg);
  background-position: top;
  background-size: cover;
  margin: 0px 10px 0px 0px;
  clip-path: polygon(3% 0, 100% 0%, 100% 70%, 50% 35%);
  
}


